---
BasedOnStyle: LLVM

ColumnLimit: 79
IndentWidth: 2
UseTab: Never

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: None
AlignConsecutiveMacros: None
AlignEscapedNewlines: Right
AlwaysBreakAfterDefinitionReturnType: All
BreakAfterAttributes: Always
BreakTemplateDeclarations: Yes
ContinuationIndentWidth: 2
LambdaBodyIndentation: OuterScope
PointerAlignment: Left
...
